body {
    background-color: rgb(42, 44, 49);
  }
  
  .container {
    padding-top: 4.5rem;
  }

  h1{
    text-align: center;
    color: white;
    font-family: "Comic Sans MS", Comic Sans, cursive;
    }

  .converted-value {
    color: rgb(41, 216, 190);
  }
  
  .conversion-precision {
    color: rgb(41, 216, 190);
  }

footer{
  color: #fff;
  padding: 15px;
  position: fixed;
  width: 300px;
  z-index: 9999;
  bottom: 0;
  left: 33rem;
}